fastapi
uvicorn[standard]
pypdf
langchain
ollama
pathlib
chromadb
pytest
boto3
openai
python-multipart
pydantic
tiktoken
langchain_core
langchain_chroma
langchain_community
langchain_ollama
google-api-python-client
langchain_huggingface
langchain_groq